[submodule "products/data/authorizations"]
	path = products/data/authorizations
	url = git@github.com:mission-apprentissage/mna-shared-authorizations.git
	branch = data
[submodule "products/data/inventories"]
	path = products/data/inventories
	url = git@github.com:mission-apprentissage/mna-shared-inventories.git
	branch = data
[submodule "products/bal/inventories"]
	path = products/bal/inventories
	url = git@github.com:mission-apprentissage/mna-shared-inventories.git
	branch = bal
[submodule "products/bal/authorizations"]
	path = products/bal/authorizations
	url = git@github.com:mission-apprentissage/mna-shared-authorizations.git
	branch = bal
[submodule "products/api/inventories"]
	path = products/api/inventories
	url = git@github.com:mission-apprentissage/mna-shared-inventories.git
	branch = api
[submodule "products/api/authorizations"]
	path = products/api/authorizations
	url = git@github.com:mission-apprentissage/mna-shared-authorizations.git
	branch = api
[submodule "products/lba/inventories"]
	path = products/lba/inventories
	url = git@github.com:mission-apprentissage/mna-shared-inventories.git
	branch = lba
[submodule "products/lba/authorizations"]
	path = products/lba/authorizations
	url = git@github.com:mission-apprentissage/mna-shared-authorizations.git
	branch = lba
[submodule "products/monitoring/inventories"]
	path = products/monitoring/inventories
	url = git@github.com:mission-apprentissage/mna-shared-inventories.git
	branch = monitoring
[submodule "products/monitoring/authorizations"]
	path = products/monitoring/authorizations
	url = git@github.com:mission-apprentissage/mna-shared-authorizations.git
	branch = monitoring
[submodule "products/mongodb/authorizations"]
	path = products/mongodb/authorizations
	url = git@github.com:mission-apprentissage/mna-shared-authorizations.git
	branch = mongodb
[submodule "products/mongodb/inventories"]
	path = products/mongodb/inventories
	url = git@github.com:mission-apprentissage/mna-shared-inventories.git
	branch = mongodb
