- name: Check if AWS CLI package is installed
  ansible.builtin.stat:
    path: /usr/local/aws-cli
  register: aws_cli_installed

- name: Download and Unarchive AWS CLI package
  ansible.builtin.unarchive:
    src: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp
    remote_src: yes
    extra_opts:
      - -O /tmp/awscliv2.zip
  when: not aws_cli_installed.stat.exists

- name: Install AWS CLI package.
  ansible.builtin.command: bash /tmp/aws/install
  become: true
  when: not aws_cli_installed.stat.exists

- name: Configure AWS
  ansible.builtin.command: aws configure set {{ item.key }} {{ item.value }} --profile default
  become: true
  with_dict:
    aws_access_key_id: "{{ vault.OVH_S3_API_KEY }}"
    aws_secret_access_key: "{{ vault.OVH_S3_API_SECRET }}"
    region: "{{ vault.OVH_S3_REGION }}"

- name: Check if bucket exist
  shell: "aws s3 ls s3://{{ product_archive_bucket }}-{{ env_type }} --endpoint-url {{ vault.OVH_S3_ENDPOINT }}"
  register: s3_bucket_check
  ignore_errors: true

- name: Create S3 bucket if it does not exist
  command: "aws s3 mb s3://{{ product_archive_bucket }}-{{ env_type }} --endpoint-url {{ vault.OVH_S3_ENDPOINT }}"
  when: "'NoSuchBucket' in s3_bucket_check.stderr"

- name: Add cron to backup DB daily
  ansible.builtin.cron:
    name: "backup-database"
    minute: "0"
    hour: "7"
    job: "bash /opt/app/tools/backup-database >> /var/log/cron.log 2>&1; /opt/app/tools/monitoring/export-cron-status-prom.sh -c 'Backup database {{ env_type }}' -v $?"
