- shell: sh -c "uname -r | cut -d'-' -f 1"
  register: linux_flavour

- set_fact:
    linux_flavour={{ linux_flavour.stdout }}  

- shell: sh -c "apt-cache policy linux-modules-nvidia-550-{{ linux_flavour }}-*-generic | grep linux-modules | sort | tail -n 1 | cut -d':' -f 1"
  register: nvidia_package

- set_fact:
    nvidia_package={{ nvidia_package.stdout }}  

- name: Installation du pilote Nvidia
  apt:
    name: [ "{{ nvidia_package }}", "nvidia-driver-550"]
    update_cache: yes
    state: present

- name: Chargement du pilote Nvidia
  community.general.modprobe:
    name: nvidia
    state: present

- name: Ajout de la clé OpenPGP du dépôt Nvidia
  get_url:
    url: https://nvidia.github.io/libnvidia-container/gpgkey
    dest: /etc/apt/keyrings/nvidia.asc

- name: Ajout du dépôt de paquets Nvidia
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/nvidia.asc] https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH) /"
    filename: nvidia.list
    state: present

- name: Installation de la librairie libnvidia-container
  apt:
    name: [ "nvidia-container-runtime" ]
    update_cache: yes
    state: present

- shell: "nvidia-smi -L | sed -e 's/.*UUID: //' -e 's/)//' | cut -d'-' -f1-2"
  register: gpu_uuid

- set_fact:
    gpu_uuid={{ gpu_uuid.stdout }}  
