- name: Création du fichier d'échange de la mémoire
  shell:
    cmd: "dd if=/dev/zero of=/swapfile bs=1M count=$((16 * 1024))"
    creates: /swapfile
  register: swap_file_create

- name: Configuration des droits du fichier d'échange de la mémoire
  file:
    path: "/swapfile"
    owner: root
    group: root
    mode: 0600

- name: Initialisation du fichier d'échange de la mémoire
  shell:
    cmd: mkswap /swapfile
  when: swap_file_create is changed
  register: mkswap_result

- name: Activation du fichier d'échange de la mémoire
  shell:
    cmd: swapon /swapfile
  when: mkswap_result is changed

- name: Ajustement du niveau d'utilisation du fichier d'échange de la mémoire par le système
  sysctl:
    name: vm.swappiness
    value: "1"
    state: present

- name: Enregistrement du fichier d'échange de mémoire comme partition
  ansible.posix.mount:
    backup: true
    src: "/swapfile"
    fstype: swap
    opts: "sw"
    state: present
    path: none
