- import_tasks: configure-system.yml
  tags: system

- import_tasks: configure_mongodb-backup.yml
  tags: mongodb-backup

- import_tasks: configure-dns.yml
  tags: dns

- import_tasks: create-users.yml
  tags: users

- import_tasks: configure-auth.yml
  tags: auth

- import_tasks: configure-network.yml
  tags: network

- import_tasks: configure-ips-blacklist.yml
  tags: ipsblacklist

- import_tasks: install-app.yml
  tags: app

- import_tasks: configure-fail2ban.yml
  tags: fail2ban

- import_tasks: renew-ssl-certificate.yml
  tags: ssl

- import_tasks: generate-gpg-key.yml
  tags: gpg

- import_tasks: configure-logrotate.yml
  tags: logrotate
