{% if vlan is defined %}
[Resolve]
DNS=10.20.{{ vlan }}.254#afw.mna.internal
DNSOverTLS=yes
DNSSEC=allow-downgrade
Cache=yes
DNSStubListener=udp
DNSStubListenerExtra=172.17.0.1
MulticastDNS=no
LLMNR=no
{% else %}
[Resolve]
DNS=213.186.33.99
FallbackDNS=8.8.8.8 1.1.1.1
DNSStubListenerExtra=172.17.0.1
DNSSEC=no
Cache=yes
DNSStubListener=udp
MulticastDNS=no
LLMNR=no
{% endif %}
