#!/usr/sbin/nft -f

table ip firewall
delete table ip firewall

define DOCKER_NETWORK = {
  172.16.0.0/12,
}

define MONITORING = {
{% for ip in monitoring_ips %}
  {{ ip }},
{% endfor %}
}

table ip firewall {

  chain input {
    type filter hook input priority filter
    policy drop
    ct state invalid drop
    ct state { established, related } accept
    ip protocol icmp accept
    iif "lo" accept
    iifname "docker0" accept
    iifname "docker_gwbridge" accept
    iifname "wan" jump input-wan
    iifname "tun0" accept
  }

  chain input-wan {

    tcp dport 22 accept
    ct state new udp dport 1194 accept

    ip saddr $MONITORING tcp dport { 80, 443 } accept

  }

  chain postrouting {

    type nat hook postrouting priority 100
    policy accept

    oifname "wan" ip saddr 10.8.0.0/24 masquerade

  }

  chain forward {

    type filter hook forward priority filter
    policy drop
    ct state invalid drop
    ct state { established, related } accept

    iifname "tun*" accept
    iifname "tun*" oifname "wan" accept
    iifname "wan" oifname "tun*" accept

    ip saddr $DOCKER_NETWORK oif "wan" accept
    ip saddr $DOCKER_NETWORK ip daddr $DOCKER_NETWORK accept

    iifname "wan" ip saddr $MONITORING ip daddr $DOCKER_NETWORK ct original proto-dst { 80, 443 } accept

  }
 
}

