#!/usr/sbin/nft -f

table ip firewall
delete table ip firewall

define MONGODB_CLUSTER = {
{% for ip in mongodb_lba_ips %}
"{{ ip }}",
{% endfor %}
}

define LBA_PRODUCTION = {
{% for ip in lba_production_ips %}
"{{ ip }}",
{% endfor %}
}

define BAL_PRODUCTION = {
{% for ip in bal_production_ips %}
"{{ ip }}",
{% endfor %}
}

define BAL_RECETTE = {
{% for ip in bal_recette_ips %}
"{{ ip }}",
{% endfor %}
}

define DATA = {
{% for ip in data_ips %}
"{{ ip }}",
{% endfor %}
}

define VPN = {
{% for ip in vpn_ips %}
"{{ ip }}",
{% endfor %}
}

table ip firewall {

  chain input {
    type filter hook input priority filter
    policy drop
    ct state invalid drop
    ct state { established, related } accept
    ip protocol icmp accept
    iif "lo" accept
    iifname "docker0" accept
    iifname "docker_gwbridge" accept
    iifname "wan" jump input-wan
  }

  chain input-wan {

    tcp dport 22 accept
    tcp dport { 80, 443 } accept

    ip saddr $MONGODB_CLUSTER tcp dport 27017 accept
    ip saddr $LBA_PRODUCTION tcp dport 27017 accept
    ip saddr $BAL_PRODUCTION tcp dport 27017 accept
    ip saddr $BAL_RECETTE tcp dport 27017 accept
    ip saddr $DATA tcp dport 27017 accept
    ip saddr $VPN tcp dport 27017 accept

  }

}

