#!/usr/bin/env bash
set -euo pipefail

readonly SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
readonly VAULT_FILE="${ROOT_DIR}/.infra/vault/vault.yml"
readonly BACKUP_LOCAL_DIR="/opt/app/mongodb/backups"
readonly FILENAME="mongodb_{{ product_name }}_{{ env_type }}_$(date +%Y-%m-%d_%H-%M-%S).gpg"
readonly BACKUP_FILE="${BACKUP_LOCAL_DIR}/${FILENAME}"

source env.ini  
if [ -z {{ product_archive_bucket }} ]; then
  echo "Error: 'product_archive_bucket' not found in env.ini!"
  exit 1
fi

function backup() {
  echo "Creating backup..."
  mkdir -p "${BACKUP_LOCAL_DIR}"
  docker run --rm mongo:6 mongodump --uri="{{ vault[product_name].MONGODB_URI }}" -j=2 --gzip --archive \
  | bash "${SCRIPT_DIR}/gpg/encrypt.sh.jinja2" "$BACKUP_FILE"
}

function checkBucket(){
  aws s3 ls "s3://{{ product_archive_bucket }}" --endpoint-url {{ vault.OVH_S3_ENDPOINT }} 2>/dev/null 
  if [ $? -ne 0 ]; then
    echo "Bucket {{ product_archive_bucket }} does not exist. Creating..."
    aws s3 mb "s3://{{ product_archive_bucket }}" --endpoint-url {{ vault.OVH_S3_ENDPOINT }}
    if [ $? -ne 0 ]; then
      echo "Error creating bucket {{ product_archive_bucket }} !"
      exit 1
    fi
  fi
}

function upload(){
  # upload gpg file to S3
  echo "Uploading backup to S3..."
  aws s3 cp "$BACKUP_FILE" "s3://{{ product_archive_bucket }}/${FILENAME}" --endpoint-url {{ vault.OVH_S3_ENDPOINT }}
}

function delete(){
  echo "Removing MongoDB backups..."
  rm "${BACKUP_LOCAL_DIR}"
}

checkBucket
backup
upload
delete
