#!/usr/bin/env bash
set -euo pipefail
#Needs to be run as sudo

docker run --rm -v /var/run/docker.sock:/var/run/docker.sock ghcr.io/{{ github_organization }}/{{ user_group }}_docker-stack-wait:latest {{product_name}}
