location = /robots.txt {

  set $disallow_robots ${DISALLOW_ROBOTS};

  if ($disallow_robots = true) {
    add_header  Content-Type  text/plain;
    return 200 "User-agent: *\nDisallow: /\n";
  }
  
}