name: Cluster Setup
on:
  workflow_dispatch:
    inputs:
      cluster:
        description: The cluster to setup
        type: string
        required: true
      numbers:
        description: JSON environment array
        type: string
        required: true
        default: '[3, 2, 1]'
  workflow_call:
    inputs:
      cluster:
        type: string
        required: true
      numbers:
        type: string
        required: true
    secrets:
      DEPLOY_SSH_PRIVATE_KEY:
        required: true
      DEPLOY_PASS:
        required: true
      SLACK_WEBHOOK_ALERTS:
        required: true
      SLACK_WEBHOOK_NOTIF:
        required: true
      VAULT_PWD:
        required: true
      OVH_APP_TOKEN:
        required: true
      OVH_APP_KEY:
        required: true
      OVH_APP_SECRET:
        required: true
      MONGODB_HABILITATIONS:
        required: true

jobs:
  setup:
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        n: ${{ fromJSON(inputs.numbers) }}
    name: Setup mongodb on "${{ inputs.cluster }}_${{ matrix.n }}"
    uses: "./.github/workflows/_setup.yml"
    with:
      product: mongodb
      environment: "${{ inputs.cluster }}_${{ matrix.n }}"
      SSH_KNOWN_HOSTS: ${{ vars.MONGODB_SSH_KNOWN_HOSTS }}
    secrets:
      DEPLOY_SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
      DEPLOY_PASS: ${{ secrets.DEPLOY_PASS }}
      SLACK_WEBHOOK_ALERTS: ${{ secrets.SLACK_WEBHOOK_ALERTS }}
      SLACK_WEBHOOK_NOTIF: ${{ secrets.SLACK_WEBHOOK_NOTIF }}
      VAULT_PWD: ${{ secrets.VAULT_PWD }}
      HABILITATIONS: ${{ secrets.MONGODB_HABILITATIONS }}
      OVH_APP_TOKEN: ${{ secrets.OVH_APP_TOKEN }}
      OVH_APP_KEY: ${{ secrets.OVH_APP_KEY }}
      OVH_APP_SECRET: ${{ secrets.OVH_APP_SECRET }}
      OPENPGP_PRIVATE_SUBKEY: ${{ secrets.OPENPGP_PRIVATE_SUBKEY }}
