name: Cluster Setup Batch
on:
  workflow_dispatch:
    inputs:
      clusters:
        description: JSON cluster array
        type: string
        required: true
        default: '["api", "bal", "lba", "recette", "tdb"]'

jobs:
  setup:
    strategy:
      fail-fast: false
      matrix:
        cluster: ${{ fromJSON(inputs.clusters) }}
    name: Cluster Update ${{ matrix.cluster }}
    uses: "./.github/workflows/cluster-setup.yml"
    with:
      cluster: ${{ matrix.cluster }}
      numbers: '[3, 2, 1]'
