name: Cluster Setup Batch
on:
  workflow_dispatch:
    inputs:
      clusters:
        description: JSON cluster array
        type: string
        required: true
        default: '["api", "bal", "lba", "recette", "tdb"]'
  workflow_call:
    secrets:
      DEPLOY_SSH_PRIVATE_KEY:
        description: SSH private key
        required: true
      DEPLOY_PASS:
        description: SSH PWD TO DEPLOY
        required: true
      SLACK_WEBHOOK_ALERTS:
        description: Slack webhook URL
        required: true
      SLACK_WEBHOOK_NOTIF:
        description: Slack webhook URL
        required: true
      VAULT_PWD:
        description: Vault Password
        required: true
      MONGODB_HABILITATIONS:
        description: Product habilitations
        required: true
      OVH_APP_TOKEN:
        description: OVH Application token
        required: true
      OVH_APP_KEY:
        description: OVH Application key
        required: true
      OVH_APP_SECRET:
        description: OVH Application secret
        required: true
      OPENPGP_PRIVATE_SUBKEY:
        description: Github Actions' OpenPGP private subkey
        required: true
      TOKEN_MNA_SHARED:
        description: Github Actions' OpenPGP private subkey
        required: true

jobs:
  setup:
    strategy:
      fail-fast: false
      matrix:
        cluster: ${{ fromJSON(inputs.clusters) }}
    name: Cluster Setup ${{ matrix.cluster }}
    uses: "./.github/workflows/cluster-setup.yml"
    with:
      cluster: ${{ matrix.cluster }}
      numbers: '[3, 2, 1]'
    secrets:
      DEPLOY_SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
      DEPLOY_PASS: ${{ secrets.DEPLOY_PASS }}
      SLACK_WEBHOOK_ALERTS: ${{ secrets.SLACK_WEBHOOK_ALERTS }}
      SLACK_WEBHOOK_NOTIF: ${{ secrets.SLACK_WEBHOOK_NOTIF }}
      VAULT_PWD: ${{ secrets.VAULT_PWD }}
      MONGODB_HABILITATIONS: ${{ secrets.MONGODB_HABILITATIONS }}
      OVH_APP_TOKEN: ${{ secrets.OVH_APP_TOKEN }}
      OVH_APP_KEY: ${{ secrets.OVH_APP_KEY }}
      OVH_APP_SECRET: ${{ secrets.OVH_APP_SECRET }}
      OPENPGP_PRIVATE_SUBKEY: ${{ secrets.MONGODB_OPENPGP_PRIVATE_SUBKEY }}
      TOKEN_MNA_SHARED: ${{ secrets.TOKEN_MNA_SHARED }}
