name: One Server Setup Batch
on:
  workflow_dispatch:
    inputs:
      products:
        description: JSON product array
        type: string
        required: true
        default: '["api", "bal", "data", "lab", "lba", "monitoring", "sandbox", "tdb", "vpn"]'
      environments:
        description: JSON environment array
        type: string
        required: true
        default: '["production", "recette", "preview", "preprod"]'

jobs:
  setup:
    strategy:
      fail-fast: false
      matrix:
        product: ${{ fromJSON(inputs.products) }}
        environment: ${{ fromJSON(inputs.environments) }}
    name: Setup ${{ matrix.product }}-${{ matrix.environment }}
    uses: "./.github/workflows/_setup.yml"
    with:
      product: ${{ matrix.product }}
      environment: ${{ matrix.environment }}
      SSH_KNOWN_HOSTS: ${{ vars[format('{0}_SSH_KNOWN_HOSTS', matrix.product)] }}
    secrets:
      DEPLOY_SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
      DEPLOY_PASS: ${{ secrets.DEPLOY_PASS }}
      SLACK_WEBHOOK_ALERTS: ${{ secrets.SLACK_WEBHOOK_ALERTS }}
      SLACK_WEBHOOK_NOTIF: ${{ secrets.SLACK_WEBHOOK_NOTIF }}
      VAULT_PWD: ${{ secrets.VAULT_PWD }}
      HABILITATIONS: ${{ secrets[format('{0}_HABILITATIONS', matrix.product)] }}
      OVH_APP_TOKEN: ${{ secrets.OVH_APP_TOKEN }}
      OVH_APP_KEY: ${{ secrets.OVH_APP_KEY }}
      OVH_APP_SECRET: ${{ secrets.OVH_APP_SECRET }}
      OPENPGP_PRIVATE_SUBKEY: ${{ secrets[format('{0}_OPENPGP_PRIVATE_SUBKEY', matrix.product)] }}
      TOKEN_MNA_SHARED: ${{ secrets.TOKEN_MNA_SHARED }}
